

venv/
__pycache__/
*.pyc

service_account.json
.env

# Python
__pycache__/
*.pyc

# virtualenv
venv/
env/
.venv/

# Daten, Modelle (nicht öffentlich)
data/
# model/
*.pkl

# Editor/OS
.vscode/
.idea/
.DS_Store
.env
